@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="container mx-auto px-4 py-6">
    <h1 class="text-2xl font-bold text-gray-800">Relatório das Recoletas</h1>
    <br />
    <div class="flex items-center justify-between mb-6">
        <form method="get" class="flex space-x-2" asp-action="GerarRelatorio">
            <label for="ano">Ano:</label>
            <select id="ano" name="ano" class="border border-gray-300 rounded px-3 py-2">
                @for (int i = DateTime.Now.Year; i >= 2000; i--)
                {
                    <option value="@i">@i</option>
                }
            </select>
            <label for="mes">Mês:</label>
            <select id="mes" name="mes" class="border border-gray-300 rounded px-3 py-2">
                <option value="">Todos</option> <!-- Relatório anual -->
                @for (int i = 1; i <= 12; i++)
                {
                    <option value="@i">@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</option>
                }
            </select>
        </form>
        <a class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700" asp-controller="Relatorios" asp-action="GerarRelatorio">Gerar Relatório</a>
    </div>
</div>
